---
import BorderedText from "./BorderedText.astro";
import { Image } from "astro:assets";
import PbHome from "../assets/pbhome.webp";
import SIE from "../assets/sie-re.webp";
import Rocket from "../assets/rocket-cat.webp";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import MongoDB from "./icons/MongoDB.astro";
import AWS from "./icons/AWS.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import GitHub from "./icons/GitHub.astro";
import MySQL from "./icons/MySQL.astro";

import Link from "./Link.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#00401B] text-white",
    icon: MongoDB,
  },
  AWS: {
    name: "AWS",
    class: "bg-[#dadada] text-black",
    icon: AWS,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#dadada] text-black",
    icon: MySQL,
  },
};
const PROJECTS = [
  {
    title: "PB Plus - Aplicación web",
    description:
      "Aplicación web creada desde cero que facilita la gestión, soporte y comunicación entre los departamentos de la empresa, utilizando bases de datos y perfiles de usuario. Cuenta con un sistema de cotización de servicios que genera un PDF para el cliente y el administrador.",
    link: "",
    github: "",
    image: PbHome,
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MONGODB, TAGS.AWS],
  },
  {
    title: "Dashboard de administrador para e-commerce",
    description:
      "Panel de administración creado desde cero para un e-commerce, incluyendo protección de endpoints y autenticación de usuarios. Se utiliza MongoDB para gestionar la base de datos, ofreciendo una estructura dealmacenamiento ágil y escalable",
    link: "",
    github: "https://github.com/Hugocrown1/rocket-admin",
    image: Rocket,
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MONGODB, TAGS.AWS],
  },
  {
    title: "ITE - Sistema de integración escolar",
    description:
      "Propuesta en equipo para un sistema de integración escolar en nuestra universidad, el cual gestiona las cuentas educativas de los estudiantes, profesores y personal administrativo.",
    link: "",
    github: "https://github.com/jneblina/Proyecto-SIE",
    image: SIE,
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MYSQL],
  },
];
---

<section id="projects" class="w-full py-20 flex-col flex bg-[#00004d]">
  <BorderedText>PROYECTOS</BorderedText>
  <div
    class="flex flex-col max-w-[1600px] h-fit items-center mx-auto mt-8 gap-y-20"
  >
    {
      PROJECTS.map(({ title, description, tags, image, github, link }) => (
        <article class="group flex flex-row w-full text-white gap-x-20 ">
          <div class=" flex flex-col ">
            <div class="flex flex-col mb-4">
              <header class="flex relative">
                <div class="absolute triangle z-0" />
                <h3 class="text-[32px] text-[#52CCFF] font-bold z-20 leading-tight text-pretty">
                  {title}
                </h3>
              </header>
              <ul class="flex flex-row gap-x-2 z-10 mt-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-3`}
                    >
                      <tag.icon class="size-4" />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
              <p class="text-[#ffffffc0] text-pretty mt-4">{description}</p>
            </div>
            <footer class="flex flex-row gap-x-2">
              {link && (
                <Link href={link}>
                  <LinkIcon /> Visitar
                </Link>
              )}
              {github && (
                <Link href={github}>
                  <GitHub /> Código
                </Link>
              )}
            </footer>
          </div>
          <div class="min-w-[1010px] aspect-video project-image  border-[1px] border-white overflow-hidden  ">
            <Image
              quality={100}
              loading="lazy"
              decoding="async"
              src={image}
              alt="project photo"
              class="object-cover w-full object-center scale-105 group-hover:scale-100 transition-all duration-500"
            />
          </div>
        </article>
      ))
    }
  </div>
</section>

<style>
  .project-image {
    box-shadow: -19px 16px 0px 0px rgb(13, 5, 210);
  }
  .triangle {
    width: 210px;
    height: 120px;
    clip-path: polygon(49% 70%, 0 32%, 100% 12%);
    rotate: -5deg;
    left: -50px;
    top: -30px;

    background-color: blue;
  }
</style>
